<div class="formbold-main-wrapper" *ngIf="noData == false">
  <div class="formbold-form-wrapper">
    <form [formGroup]="ordersData" (ngSubmit)="submit()">
      <div class="formbold-mb-5">
        <label for="name" class="formbold-form-label"> Customer Name</label>
        <input
          type="text"
          name="customername"
          id="customername"
          placeholder="Customer Name"
          class="formbold-form-input"
          formControlName="customername"
        />
      </div>

      <div class="formbold-mb-5">
        <label for="number" class="formbold-form-label"> Purchased Date </label>
        <input
          type="date"
          name="pdate"
          id="pdate"
          placeholder="Purchased Date"
          class="formbold-form-input"
          formControlName="pdate"
        />
      </div>

      <div class="formbold-mb-5">
        <label for="number" class="formbold-form-label"> Delivery date </label>
        <input
          type="date"
          name="ddate"
          id="ddate"
          placeholder="Delivery date"
          class="formbold-form-input"
          formControlName="ddate"
        />
      </div>
      <div class="formbold-mb-5">
        <label for="subject" class="formbold-form-label"> Quantity </label>
        <input
          type="text"
          name="quantity"
          id="quantity"
          placeholder="Enter your quantity"
          class="formbold-form-input"
          formControlName="quantity"
        />
      </div>
      <div class="formbold-mb-5">
        <label for="name" class="formbold-form-label"> Product Name </label>

        <select
          name="name"
          id="name"
          formControlName="name"
          class="form-control"
          style="width: 100%; background-color: white; color: black"
        >
          <option value="{{ order.name }}" *ngFor="let order of orders">
            {{ order.name }}
          </option>
        </select>
      </div>

      <div>
        <button [disabled]="ordersData.invalid" class="formbold-btn">
          Update
        </button>
      </div>
    </form>
    <br />
    <button
      (click)="delete()"
      [disabled]="ordersData.invalid"
      class="formbold-btn"
    >
      Delete
    </button>
  </div>
</div>
